@keyframes social-toggler-spring {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  65% {
    transform: translate(-50%, -50%) scale(1.125);
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}
